@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --black: #00010d;
  --black2: #a2a2a6;
  --white: #f6f6f6;
  --green: #5aaf98;
  --green2: #1f6853;
  --gray: #adadad;
  --blue: #02021e;
}

html {
  @apply scroll-smooth;
}
body {
  @apply bg-white text-black min-h-screen font-lato overflow-x-hidden;
}
.dark body {
  @apply bg-black text-white min-h-screen font-lato;
}

.page-heading {
  @apply p-12 bg-green;
}
.page-heading > .wrapper {
  @apply max-w-3xl m-auto;
}

.page-section {
  @apply p-4 py-8 m-auto max-w-3xl;
}

.article-list {
  @apply flex flex-col gap-6;
}

.article-item {
  @apply pt-6 first-of-type:border-none border-t border-green;
}

.article-item a {
  @apply no-underline;
}

.article-item > * > .wrapper {
  @apply flex items-start gap-4;
}
@layer utilities {
  .about-link {
    @apply italic font-light text-xl_m xss-m:text-xl2_m uppercase  text-left relative lg-m:text-xl4_d;
  }
  .btn {
    @apply flex items-center gap-1 px-4 py-1 font-normal bg-green2;
  }
  .link {
    @apply px-4  text-xl_d font-extralight transition-all lg:text-xl_t lg:font-light;
    &:focus,
    &:active {
      @apply transition-all;
    }
    &:hover {
      text-shadow: 2px 2px $green;
      @apply transition-all;
    }
  }
  .link-project {
  }
  .drop-bg {
    filter: drop-shadow(0px -20px 10px #00010d);
  }
  .dark-drop-bg {
    filter: drop-shadow(0px -10px 10px #f6f6f6);
  }
}
@layer utilities {
  .grid {
    display: grid !important;
  }
}
